<h1>Player Info:</h1>


<p>Name: <%= @player.name %></p>

<p>Jersey Number: <%= @player.jersey_number %></p>

<p>Position: <%= @player.position %></p>


<a href='/players/<%=@player.id%>/edit'>Edit This Player!</a>
<a href='/teams/index'>Go back to teams index.</a>
